<!DOCTYPE html>
<html>

<head>
    <title></title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <nav>
        <img src="/img/logo.png" width="200px" style="margin-left:40%">
        <a href="/" class="pull-right btn" id="logout"><p style="font-size:19px">Logout</p></a>
    </nav>
    <div class="wrapper">
    <div class="container input_question">
        <form id="question_form" action="/message" method="post">
            <input type="hidden" value="{{username}}" name="username"/>
            <input type="hidden" value="{{picture}}" name="picture"/>
            <div class="profile pull-left">
                <img src="http://i.imgur.com/vNlsRbF.jpg" class="profile_pic"/>
            </div>
            
            <textarea id="question_textarea" placeholder="Type question here..." name="question" form="question_form"></textarea>
            <br/>
            <div id="new_question_options">
                <label for="category_dropdown">Category:</label>
                <select id="category_dropdown" name="category" form="question_form">
                    <option>Math</option>
                    <option>Computer Science</option>
                    <option>English</option>
                    <option>Other</option>
                </select>
                <input type="submit" class="btn btn-custom pull-right" value="Post">
            </div>
        </form>

    </div>
    <hr/>
    <div id="search_area" class="text-center">
        <label>Search for:</label>
        <select id="category_search">
            <option selected>View All</option>
            <option>Math</option>
            <option>Computer Science</option>
            <option>English</option>
            <option>Other</option>
        </select>
        <input placeholder="Enter keywords..."/>
        <a class="btn btn-default" id="search_button">Search</a>
    </div>
    <ul class="list-unstyled" id="question_section">
        {{#each questions}}    
            <li class="{{subject}} container question">
                <div class="profile pull-left">
                    <img class="profile_pic" src="{{image}}"/>
                </div>
               <p>{{username}} asked:</p>
                <h4>{{question}}</h4>
                <div>
                    <form class="input_answer" id="answer_form" method="post" action="/answer">
                        <input type="hidden" value="{{username}}" name="username"/>
                        <input type="hidden" value="{{picture}}" name="picture"/>
                        <input value="{{id}}" name="questionid" type="hidden"/>
                        <textarea class="answer_textarea" placeholder="Type answer here..." name="answer" form="answer_form"></textarea>
                        <input type="submit" class="btn btn-custom pull-right" value="Answer"/>
                    </form>    
                   
                </div>     
                <br/>  

                <div class="answer_section">
                    <ul class="list-unstyled">
                    {{#each answers}}
                        <li class="answer">
                            <div class="pull-right">
                                <form class="input_answer" id="vote_up_form" method="post" action="/vote">
                                    <button type="submit" class="btn vote vote_up" id="up_{{id}}"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
                                    <br/>
                                    <label>{{votes}}</label>
                                    <input type="hidden" id="vote_{{id}}" value="{{votes}}" name="vote">
                                    <input type="hidden" value="{{id}}" name="answerid" form="vote_up_form">
                                    <br/>
                                    <button class="btn vote vote_down" id="up_{{id}}"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                                </form>
                            </div>
                            <div class="profile pull-left">
                                <img class="profile_pic" src="{{image}}"/>
                            </div>
                            <p>{{username}} said:</p>
                            <h5>4</h5>
                        </li>
                    {{else}}No answers yet.
                    {{/each}}
                    </ul>
                </div>
            </li>

        {{else}}<h4>No questions found</h4>
        {{/each}}
    </ul>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    $("#search_button").click(function(){
        if($("#category_search").val() == "View All"){
            $(".question").css("display", "block");
        }else{
             $(".question").css("display", "none");
            $("." + $("#category_search").val().toLowerCase()).css("display","block");
        }
    });
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1580647242250169',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    $(".vote_up").click(function(event){
        var id = event.target.id.split("_")[1];
        $("#vote_" + id).val(1 + Number($("#vote_" + id).val()));

    });
    $(".vote_down").click(function(){
        var id = event.target.id.split("_")[1];
        $("#vote_" + id).val(Number($("#vote_" + id).val()) -1);
    });
</script>

</body>

</html>
